#
# SmetDenis - Readme
#
# This file is part of the SmetDenis project.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @package    Readme
# @license    MIT
# @copyright  Copyright (C) Denis Smetannikov, All rights reserved.
# @link       https://github.com/SmetDenis
#

# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
