#
# SmetDenis - Readme.
#
# Denis Smetannikov - Personal Dashboard on GitHub.
#
# @license    MIT
# @copyright  SmetDenis/Readme. All rights reserved.
# @see        https://github.com/SmetDenis
#

* text eol=lf

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
